html{
	overflow-y: hidden;
}

marquee {
	height: 100%;
}

.right-lesson {
	height: 300px;
}

.head {
	text-align: center;
	background: #1B539F;
	color: #f6f7d7;
	letter-spacing: 5px;
}

.card {
	height: 300px;
	border-radius: 0px;
}

.card-body{
	padding: 0px;
	overflow-y: hidden;
}

.card-text{
	margin: 0px;
	padding: 0px;
}

.right-event {
	height: 300px;
	margin-bottom: 0px;
}

.ad {
	background: #fafafa;
}

.date{
	background: #fafafa;
	color: #252a34;
}

.col-md-9{
	padding-left: 0px;
}

#clock{
	text-align: center;
	font-size: 16px;
}
