{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>E-Board </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>

<div class="container-fluid">
	<div class="top row">


		<!------------------------------------- 
									SLIDE 
		-------------------------------------->


		<div class="slides col-md-9 col-sm-12" style="padding:0px;">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">	
				<ol class="carousel-indicators">
					{% for slide in slides %}
						<li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" class="active"></li>
					{% endfor %}
				</ol>
			    <div class="carousel-inner">
						{% for slide in slides %}
			      <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
							<img height="600px;" class="d-block w-100" src="/media/{{ slide.image }}" alt="{{ slide.image }}">
							<div class="carousel-caption d-none d-md-block">
								<p> {{ slide.title }} </p>
							</div>
						</div>
						{% endfor %}
			    </div>
			    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			      <span class="sr-only">Previous</span>
			    </a>
			    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			      <span class="carousel-control-next-icon" aria-hidden="true"></span>
			      <span class="sr-only">Next</span>
			    </a>
			  </div>
		</div>


		<!------------------------------------- 
									RIGHT COLUMN 
		-------------------------------------->


		<div class="right col-md-3 col-sm-6">
			<div class="row">
				<div class="right-lesson col-md-12 col-sm-12">
					<div class="card" style="overflow-y:auto;">
						<div class="card-body">
							<p class="card-text">
								<div class="col-md-12 head">Lessons</div>
								<marquee direction="up" scrollamount="3"> 
											<ul class="list-group list-group-flush">
												{% for lesson in lessons %}	<li class="list-group-item">
													{{ lesson.sun|safe }}
													{{ lesson.mon|safe }}
													{{ lesson.thu|safe }}
													{{ lesson.wed|safe }}
													{{ lesson.thr|safe }}
													{{ lesson.fri|safe }}
													{{ lesson.sat|safe }}
												</li>
												{% endfor %}
											</ul>
								</marquee>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="right-event col-md-12 col-sm-12"">
					<div class="card">
						<div class="card-body">
								<p class="card-text">
										<div class="col-md-12 head">Events</div>
										<marquee direction="up" scrollamount="3" > 
													<ul class="list-group list-group-flush">
														{% for event in events %}
															<li class="list-group-item">
																<b>{{ event.title }}</b> <br>
																{{ event.detail }} <br>
																{% if event.date %}
																	<b>Tarih : </b> {{ event.date }} <br>
																{% endif %}
																{% if event.place %}
																	<b>Yer : </b>{{ event.place }}
																{% endif %}
															</li>
														{% endfor %}
													</ul>
										</marquee>
									</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!------------------------------------- 
									BOTTOM 
	-------------------------------------->


	<div class="row">
		<div class="ad col-md-9 col-sm-6">
				<marquee behavior="scroll">
					{% for announcement in announcements %}
						<b>{{ announcement.title }}</b> - {{ announcement.text }} ~~
					{% endfor %}
				</marquee> 
		</div>
		<div class="date col-md-3 col-sm-6">
				<div id="clock"></div>
		</div>
	</div>
</div>

<script src="{% static 'clock.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
	$('.carousel').carousel()

</script>
</body>
</html>